[submodule "JJParser"]
	path = JJParser
	url = https://github.com/TPTPWorld/JJParser.git
    branch = master
[submodule "GDVDir/JJParser"]
	path = GDVDir/JJParser
	url = https://github.com/TPTPWorld/JJParser.git
    branch = master
